{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block menu %}
    <span class="label">
        <span class="icon">
        {{- "" -}}
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMFEw8WMu46DwAAAF9JREFUSMft0zEKhEAQRNGnCJ7Eixmq19kNPZy3EERNxnhZcLL60BR0UnTDJ4Q/aUr2GDGhfbnjxBcr9mc54MBVaY7S8fo1P+lKblgwV3rpp3SEaBEtokW0iBbRItTgBvGTYSpgzDNTAAAAAElFTkSuQmCC"/>        
        {{- "" -}}
        </span>
        <strong>trace()</strong>
        <span class="count">
            <span>
                {% set cpt = 0 %}
                {% for index, traces in collector.traces.anonymous %}
                    {% set cpt = cpt + 1 %}
                {% endfor %}
                {% for index, traces in collector.traces.identified %}
                    {% for nbr, trace in traces %}
                        {% set cpt = cpt + 1 %}
                    {% endfor %}
                {% endfor %}
                {{ cpt }}
            </span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    {% import _self as this %}
    {% for nbr, trace in collector.traces.anonymous %}
        {{ this.trace(trace, '__anon' ~ '-' ~ nbr) }}
    {% endfor %}
    {% for index, traces in collector.traces.identified %}
        <h2>{{ index }}</h2>
        {% for nbr, trace in traces %}
            {{ this.trace(trace, index ~ '-' ~ nbr) }}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript">
        function showElement(id) {
            document.getElementById(id).style.display = '';
        }
        function hideElement(id) {
            document.getElementById(id).style.display = 'none';
        }
    </script>
{% endblock head %}

{% macro trace(traces, name) %}
    <table>
    {% for nbr, trace in traces %}
        {% set argsid    = name ~ '-' ~ nbr %}
        {% set argsplus  = name ~ '-' ~ nbr ~ '-plus' %}
        {% set argsminus = name ~ '-' ~ nbr ~ '-minus' %}
        <tr>
            <td rowspan=2>
                <center><b>{{ loop.index }}</b></center>
            </td>
            <td>
                {% if trace.class is defined %}
                    <b>{{ trace.class }}</b>::{{ trace.function }}
                {% else %}
                    {{ trace.function }}
                {% endif %}
                {% if trace.args is not empty %}
                    (
                    <img id="{{ argsplus }}" alt="+" src="data:image/gif;base64,R0lGODlhEgASAMQTANft99/v+Ga44bHb8ITG52S44dXs9+z1+uPx+YvK6WC24G+944/M6W28443L6dnu+Ge54v/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABMALAAAAAASABIAQAVS4DQBTiOd6LkwgJgeUSzHSDoNaZ4PU6FLgYBA5/vFID/DbylRGiNIZu74I0h1hNsVxbNuUV4d9SsZM2EzWe1qThVzwWFOAFCQFa1RQq6DJB4iIQA7" style="display: inline;margin-bottom: -3px;cursor:pointer" height="12" onclick="showElement('{{ argsid }}');hideElement('{{ argsplus }}');showElement('{{ argsminus }}');" />
                    <img id="{{ argsminus }}" alt="-" src="data:image/gif;base64,R0lGODlhEgASAMQSANft94TG57Hb8GS44ez1+mC24IvK6ePx+Wa44dXs92+942e54o3L6W2844/M6dnu+P/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABIALAAAAAASABIAQAVCoCQBTBOd6Kk4gJhGBCTPxysJb44K0qD/ER/wlxjmisZkMqBEBW5NHrMZmVKvv9hMVsO+hE0EoNAstEYGxG9heIhCADs=" style="display: inline;margin-bottom: -3px;display:none;cursor:pointer" height="12" onclick="hideElement('{{ argsid }}');hideElement('{{ argsminus }}');showElement('{{ argsplus }}');" />
                    )
                {% else %}
                    ()
                {% endif %}
            </td>
        </tr>
        <tr>
            {% if trace.file is defined %}
                <td><small>{{ trace.file }} at line <b>{{ trace.line }}</b></small></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
        </tr>
        <tr id="{{ argsid }}" style="display:none">
            <td colspan=2>
                <ul>
                    {% for arg in trace.args %}
                        <li>
                            »&nbsp;
                            <b>{{ arg }}</b>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endmacro %}
